package client

import (
	"context"
	"github.com/astraio/astraios-gateway/pb/common"
	"github.com/zeromicro/go-zero/zrpc"
)

type CommonClient struct {
	client common.CommonServiceClient
}

// NewCommonClient 创建通用服务客户端
func NewCommonClient(c zrpc.RpcClientConf) (*CommonClient, error) {
	conn := zrpc.MustNewClient(c)
	return &CommonClient{
		client: common.NewCommonServiceClient(conn.Conn()),
	}, nil
}

// LoadConfig 加载配置
func (c *CommonClient) LoadConfig(ctx context.Context, nacosDataId string) (*common.LoadConfigResponse, error) {
	return c.client.LoadConfig(ctx, &common.LoadConfigRequest{
		NacosDataId: nacosDataId,
	})
}
