apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "gateway-service.fullname" . }}-config
  labels:
    {{- include "gateway-service.labels" . | nindent 4 }}
data:
  gateway.yaml: |
    Name: {{ .Values.config.name }}
    Host: {{ .Values.config.host }}
    Port: {{ .Values.config.port }}
    UserService:
      Endpoints:
{{ toYaml .Values.config.userService.endpoints | nindent 8 }}
      Timeout: {{ .Values.config.userService.timeout }}
      NonBlock: {{ .Values.config.userService.nonBlock }}
      Middlewares:
        Breaker: {{ .Values.config.userService.middlewares.breaker }}
    JwtAuth:
      JwksUrl: {{ .Values.config.jwtAuth.jwksUrl }}
      Issuer: {{ .Values.config.jwtAuth.issuer }}
      CacheSeconds: {{ .Values.config.jwtAuth.cacheSeconds }}
